@font-face {
   font-family: 'FontAwesome';
   src:url('../fonts/fontawesome-webfont.eot');
   src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
   font-family: 'FontAwesome';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-rquo:before {
  content: "\f10d";
}
.icon-enter:before{
  content: "\f112";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-larr:before {
  padding: 0 10px;
  content: "\f104"
}
.icon-rarr:before {
  padding: 0 10px;
  content: "\f105"
}
.icon-cc:before {
  content: "\f20a";
}
.icon-github:before {
  content: "\f092";
}
.icon-weibo:before {
  content: "\f18a";
}
