/* tympanus.net/codrops/2013/08/06/creative-link-effects/ */
.links a {
	color: #222;
	position: relative;
	display: inline-block;
	margin: 0px 30px 20px 0px;
	padding: 10px 20px;
	outline: none;
}

.links a:hover,
.links a:focus {
	outline: none;
}

.links a::before,
.links a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #354856;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.links a::after  {
/*	border-color: #fff; */
	opacity: 0;
	-webkit-transform: translateY(-5px) translateX(5px);
	-moz-transform: translateY(-5px) translateX(5px);
	transform: translateY(-5px) translateX(5px);
}

.links a:hover::before,
.links a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.links a:hover::after,
.links a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

.links p {
	margin-bottom: 0;
}

.request-links p {
	text-align: right;
	text-transform: uppercase;
}
