/**
 * @package Navy
 */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color:#FFF;
    color:#444;
    font-family: "Open Sans", "Microsoft Jhenghei", "Microsoft YaHei", "微软雅黑", sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "dlig";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.move-block{
    position: relative;
}
a, button.submit {
    color:#6E7173;
    text-decoration:none;
    -webkit-transition:all .1s ease-in;
    -moz-transition:all .1s ease-in;
    -o-transition:all .1s ease-in;
    transition:all .1s ease-in;
}
a:hover, a:active {
    color:#6E7173;
}
mark {
    padding: 3px 3px 3px 5px;
    background: #fffdd1;
}
pre, code {
    background:#f8f8f8;
    font-family:"Sorce Code Pro", Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
    font-size:.92857em;
    display: block;
}
pre {
    margin: 2em 0;
    overflow:auto;
    border: 1px solid #ddd;
}
blockquote,.stressed {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.8em 0 1.8em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: #4a4a4a 0.4em solid;
    font-style: italic;
    color: #888;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], textarea {
    padding:6px;
    border:1px solid #ddd;
    width:100%;
    outline:none;
}
input[type="search"] {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
textarea {
    resize:vertical;
}
.clear {
    clear:both;
}
.clearfix, .col-group {
    zoom:1;
}
.clearfix:before, .col-group:before, .clearfix:after, .col-group:after {
    content:" ";
    display:table;
}
.clearfix:after, .col-group:after {
    clear:both;
}
.post-content a, .comment-content a {
    border-bottom:1px solid #ddd;
}
.post-meta a:hover, .post-content a:hover, .widget a:hover, .comment-content a {
    border-bottom-color:transparent;
}
#header {
    padding:60px 0 0;
    text-align:center;
}
.site-name h1{
    padding: 0;
    margin:0;
    height: 0;
    overflow: hidden;
}
#logo {
    font:bold 44px/1.22 "Microsoft Jhenghei", "Microsoft YaHei", "微软雅黑", sans-serif;
    color:#555;
}
#logo:hover {
    color:#777;
}
.description {
    margin:0;
    color:#999;
}
#nav-menu {
    padding:0;
    margin: 36px 0 10px;
}
#nav-menu a {
    text-decoration: none;
    padding: 7px 18px 6px;
    color: #fff;
    background-color: #999;
    position: relative;
    z-index: 4;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
}
#nav-menu a:hover {
    background-color: #303538;
}
#nav-menu a.current {
    background-color: #303538;
}
#nav-menu a.current:after {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #303538;
    bottom: -6px;
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    height: 0;
    text-align: center;
    left: 50%;
    margin-left: -14px;
    width: 0;
}
#search {
    position:relative;
    padding: 0 25px;
}
#search input {
    padding:6px 56px 6px 10px;
    line-height: 1.7;
    height: 35px;
    border:none;
    background-color: #444;
    color: #F8F8F8;
    font-size: 13px;
}
#search button {
    position:absolute;
    top:0;
    right:25px;
    border:none;
    padding:6px 15px;
    font-size: 13px;
    line-height: 1.7;
    background-color: #999;
    color: #f8f8f8;
    width: 60px;
    height: 35px;
    cursor: pointer;
}
#search button:hover {
    background-color: #18B3E6;
}
.col-8 {
    width:750px;
}
.col-12{
    width:100%;
}
.container {
    width:1150px;
    padding:0 60px;
    margin:0 auto;
}
#secondary {
    font-family: Raleway, "Microsoft Jhenghei", "微软雅黑", "Microsot YaHei";
    height: 100%;
    width: 300px;
    top: 0;
    left: 0px;
    position: fixed;
    z-index: 100;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    background-color: #303538;
    color: #f8f8f8;
}
.sidebar-head {
    padding-top: 100px;
    text-align: center;
}
.sidebar-head .author-avatar {
    display: inline-block;
}
.sidebar-head .author-avatar img {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 100px;
}
.sidebar-head .author-title {
    margin: 5px 0 0 0;
    font-weight: 400;
    line-height: 1;
    font-size: 2rem;
    floar: left;
}
.sidebar-head .author-description {
    font-family: "Source Code Pro";
    margin-top: 0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
}
.sidebar-head .author-contact a:hover {
    color: #fff;
}
#content {
    padding-top:20px;
    margin: 0 auto;
}
.post {
    padding:36px 0 0;
}
.post-title {
    margin:0;
    color:#555;
    text-align:left;
    font-size: 32px;
    font-weight: 600;
}
.post-title a {
    color:#666;
}
.post-title a:hover{
    color: #444;
}
.post-meta {
    padding:0;
    margin:0;
    color:#999;
    text-align:left;
    display: block;
}
.post-meta .tags {
    color:#999;
    padding-left: 10px;
    display: inline;
}
.post-content {
    font-size: 17px;
    line-height: 1.5;
    color:#444;
    padding-top:32px;
}
.page-content {
    padding-top: 40px;
}
.post-content h3,.post-content h2{
    margin: 1.4em 0 1.1em;
}
.post-content pre code ,.comment-content pre code {
    padding: 1.5em 2em;
}
.post-content p code, .comment-content p code {
    display:inline;
    white-space: nomarl;
    word-break: break-word;
    margin:0 5px;
    padding:3px 5px;
    border: 1px solid #ddd;
}
.post-content p {
    font-family: "Microsoft Jhenghei", "微软雅黑", "Microsoft YaHei", "文泉驿微米黑", "WenQuanYi Micro Hei";
    font-size: 20px;
    font-weight: 300;
    margin:0px 0px 1.234em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.post-content img {
    padding:1em 0;
    /*width: 112.67%;
    margin-left: -6.33%;*/
}
.post-content ul {
    overflow: auto;
    padding: .5em 2.4em;
    border-radius: 3px;
    margin:1.8em 0;
}
.post-content ul li{
    text-indent: .5em;
}
.post-excerpt {
    padding-top: 20px;
}
.post-footer {
    position: relative;
    margin: 0;
    padding: 70px 0 30px 0;
}
.post-footer p {
    margin-top: -35px;
    text-align: right;
}
.archive-title {
    padding-top:13px;
    color:#999;
    font-size:22px;
}
.more {
    padding:10px 0 0;
    text-align: center;
}
.more a {
    border:none;
}
.protected .text {
    width:50%;
}
.page-navigator {
    text-align: center;
    list-style:none;
    margin-top: 45px;
    padding:30px 0 0;
    font-size:16px;
    border-top: 1px solid #ddd;
}
.page-navigator li {
    display:inline-block;
    margin:0 5px 5px 0;
}
.page-navigator a {
    display:inline-block;
    padding:0 10px;
    line-height:25px;
    padding:5px 9px;
    border-bottom: 1px solid #999;
}
.page-navigator a:hover {
    background:#F8F8F8;
    border-bottom-color:#303538;
}
.page-navigator .current a {
    background:#F8F8F8;
    border-bottom-color:#999;
}
.post-navigator {
    margin: 0 10px;
    font-size: 22px;
    font-weight: 400;
}
#post-navigator i {
    font-size: 25px;
}
#post-navigator a {
    color: #BBB;
}
#post-navigator a:hover {
    color: #333;
}
.post-navigator-prev {
    float: left;
}
.nav-prev{
    text-align: left;
    border-right: 1px solid #ddd;
}
.nav-next{
    text-align: right;
}
.page-navigator .next {
    float: right;
}
.page-navigator .prev {
    float: left;
}
.comment-list, .comment-list ol {
    list-style:none;
    margin:0;
    padding:0;
}
.comment-list {
    margin-top:-1px;
}
.comment-list li {
    padding:22px 0 0;
    border-top:1px solid #ddd;
}
.comment-list li.comment-level-even {
    background:#FFF;
}
.comment-list li .comment-reply {
    float:right;
    margin-top:-39px;
    font-size:.92857em;
}
.comment-meta a {
    color:#999;
    font-size:.92857em;
}
.comment-author {
    display:block;
    margin-bottom:3px;
    color:#444;
}
.comment-author .avatar {
    float:left;
    margin:1px 10px 0 0;
    border: 1px solid #ddd;
    padding: 1px;
}
.comment-author cite {
    font-weight:bold;
    font-style:normal;
    line-height: 1.2;
}
.comment-awaiting-moderation {
    font-style:normal;
    float:right;
    margin-top:-20px;
    color:#777;
}
.comment-list .respond {
    margin:15px 0;
    border-top:1px solid #ddd;
}
.comment-body .respond {
    border:none;
    margin:0 0 25px;
}
.respond .cancel-comment-reply {
    float:right;
    margin-top:15px;
    font-size:.92857em;
}
#comment-form {
    padding-top:5px;
}
#comment-form label {
    display:block;
    color:#888;
    position:absolute;
    margin:7px;
}
#comment-form input {
    padding:8px 6px;
    height:36px;
    border:solid 1px #D4D4D4;
    background:#fdfdfd;
    padding-left:45px;
    color: #555;
}
button.submit {
    border:1px solid #272727;
    display:block;
    line-height:32px;
    width:100%;
    outline:none;
    color: #fff;
    background:#272727;
    height: 38px;
}
button.submit:hover {
    background:#505050;
    border-color: #505050;
}
textarea.textarea {
    line-height:1.8;
    padding:5px 10px 5px 10px;
    width:100%;
    height:174px;
    padding:10px;
    overflow:auto;
    margin:0;
    line-height:1.8;
    color:#222;
    font-size:14px;
    background:#fdfdfd!important;
    color: #555;
}
.col2 p, .col1 p {
    margin:9px 0;
}
.col1 p {
    margin-right:220px;
}
.col1 {
    margin-right:-220px;
    height:auto;
    float:left;
    width:100%;
    position:relative;
    background-position:0 0;
}
.col2 {
    width:204px;
    float:right;
    position:relative;
    overflow:hidden;
    background-position:right top;
}
.widget-title{
    font-size: 15px;
    margin: 15px 26px 0;
    padding-bottom: 10px;
    font-weight: normal;
}
#comments .widget-title {
    color:#6E7173;
    line-height:2.7;
    margin-top:0;
    font-size:16px;
    border-bottom:1px solid #ddd;
    display:block;
    margin: 0;
    padding-bottom: 0px;
}
.widget{
    margin-bottom: 60px;
}
.widget ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget ul li{
    line-height: 1.72;
}
.widget ul li a{
    outline: none;
}
.widget-list {
    list-style:none;
    padding:0;
    margin:50px 0 0 -1px;
}
.widget-list2{
    margin:0;
}
.widget-list li {
    margin:0;
    line-height:1.5;
}
.widget-list li span{
    text-transform: uppercase;
    color: #ccc;
}
.date-month{
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    width: 3em;
}
.widget-list h3{
    margin: 0;
    font-size: 16px;
}
.widget-list h3 a{
    display: block;
    margin: 0;
    line-height: 1.5;
    padding: .4em 25px .4em 26px;
    font-weight: normal;
    color: #ccc;
}
.widget-list h3 a.active,
.widget-list h3 a.active:hover,
.widget-list h3 a:hover {
    background-color: #666;
    color: #fff;
}
.widget-list a:hover span{
    color:#fff;
}
.widget-fixed {
    position: fixed;
    bottom: 0px;
    width: 300px;
    margin-bottom: 30px;
}
.widget-list .meta-half {
    width: 50%;
}
.widget-list .meta-quat {
    display: inline-block;
}

#response {
    margin-bottom:1em;
}
.comment-content {
    line-height:1.5;
    word-wrap:break-word;
    padding:10px 40px 10px 0;
}
.comment-content img {
    max-width:100%;
}
.post-content a img {
    background:#FFF;
    position:relative;
    bottom:-4px;
}
.post-content hr, .comment-content hr {
    margin:2.4em auto;
    border:1px solid #ddd;
    border-width:1px 0 0 0;
    position: relative;
}
.aligncenter, div.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.alignleft {
    float:left;
}
.alignright {
    float:right;
}
img.alignleft {
    margin:5px 15px 0 0;
}
img.alignright {
    margin:5px 0 0 15px;
}
/* archives page*/
 .al_year {
    width:60px;
    padding: 10px 0;
}
.al_mon_list {
    margin-left: 90px;
    margin-top: -2.2em;
    border-left: 1px solid #ddd;
}
.al_mon_list li {
    list-style: none;
    line-height: 2;
}
.al_mon_list li a {
    margin-left: 1.5em;
}
.post-content-pages {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17px;
}
.post-content-pages a {
    font-family: "Microsoft Jhenghei", "Microsoft YaHei", "微软雅黑", sans-serif;
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .container {
        width: auto;
        margin-left: 280px;
        margin-right: 280px;
    }
}
@media (max-width: 1200px) {
    .container {
        width: auto;
    }
    .post-content {
        font-size: 16px;
    }
}
@media (max-height: 660px) and (min-width: 1025px) {
	.widget-fixed {
		position: relative;
	}
}
@media (min-width: 1025px) and (max-width: 1200px) {
    #content {
        width: calc(100% + 280px);
        width: -moz-calc(100% + 280px);
        width: -webkit-calc(100% + 280px);
      }
}
@media (max-width: 1024px) {
    #content {
        width: 100%;
    }
    #secondary {
        position: relative;
        height: 300px;
        width: 100%;
    }
    .sidebar-head {
        margin-top: -10px;
        padding-top: 50px;
    }
    .widget {
        margin: 0;
        position: absolute;
    }
    .head-lt {
        left: 0px;
        margin-left: 20px;
    }
    .head-rb {
        right: 0px;
        bottom: -35px;
    }
    #search {
        padding-right: 0px;
    }
    #search button {
        right: 0;
    }
    .head-iv {
        visibility: hidden;
    }
}

@media (max-width:860px) {
    .post-content {
        font-size: 15px;
    }
    #nav-menu {
        margin:35px 0 -1px;
    }
    .res-cons {
        width:auto;
        margin-right:0;
    }
    .post-content img {
        max-width:100%;
        margin-left: 0;
    }
    blockquote{
        margin-left: 0;
    }
}
@media (max-width:680px) {
    .container {
        padding:0 20px;
    }
    .post-title {
        font-size:22px;
    }
    .page-navigator {
        padding:15px 0 0;
    }
    .page-navigator a {
        padding:0 6px;
    }
    .post-content img {
        padding:0.2em 0;
    }
    .post {
        padding:27px 0 0;
    }
    #nav-menu a {
        padding:0 15px;
        line-height:27px;
        height:27px;
        font-size:13px;
    }
}
@media (max-width:500px) {
    .col2 {
        width:140px;
    }
    .post-meta li.comment-count {
        display: none;
    }
    .col1 p {
        margin-right:160px;
    }
    .col1 {
        margin-right:-160px;
    }
    .post-content-pages {
        font-size: 14px;
    }
    .al_mon_list {
        margin-left: 70px;
        padding-left: 20px;
    }
}
